Repository apache/dubbo, pull requests merged in 2021-06, with the labels that each got.

#7963 Add unit test for ScheduledCompletableFuture
  dubbo-common/src/test/java/org/apache/dubbo/common/threadlocal/concurrent/ScheduledCompletableFutureTest.java
Labels: type/unit-test

#7984 Add InfraAdapterTest
  dubbo-common/src/test/java/org/apache/dubbo/common/config/EnvironmentConfigurationTest.java
  dubbo-common/src/test/java/org/apache/dubbo/common/infra/InfraAdapterTest.java
  dubbo-common/src/test/java/org/apache/dubbo/common/utils/ConfigUtilsTest.java
Labels: type/unit-test

#7994 add test case for ExecutorRepository
  dubbo-common/src/test/java/org/apache/dubbo/common/threadpool/manager/ExecutorRepositoryTest.java
Labels: type/unit-test

#7929 增加redisRegistry consumer侧的服务探活逻辑
  dubbo-registry/dubbo-registry-redis/src/main/java/org/apache/dubbo/registry/redis/RedisRegistry.java
  dubbo-registry/dubbo-registry-redis/src/test/java/org/apache/dubbo/registry/redis/RedisRegistryTest.java
Labels: status/waiting-for-feedback, type/enhancement

#8011 Support service annotation work with java config bean
  dubbo-common/src/main/java/com/alibaba/dubbo/config/annotation/Service.java
  dubbo-common/src/main/java/org/apache/dubbo/common/utils/AnnotationUtils.java
  dubbo-common/src/main/java/org/apache/dubbo/config/AbstractConfig.java
  dubbo-common/src/main/java/org/apache/dubbo/config/ProviderConfig.java
  dubbo-common/src/main/java/org/apache/dubbo/config/annotation/DubboService.java
  dubbo-common/src/main/java/org/apache/dubbo/config/annotation/Service.java
  dubbo-common/src/main/java/org/apache/dubbo/config/context/ConfigManager.java
  dubbo-common/src/test/java/org/apache/dubbo/common/utils/AnnotationUtilsTest.java
  dubbo-config/dubbo-config-spring/pom.xml
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/Constants.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/ServiceBean.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/beans/factory/annotation/AbstractAnnotationBeanPostProcessor.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/beans/factory/annotation/ReferenceAnnotationBeanPostProcessor.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/beans/factory/annotation/ServiceAnnotationPostProcessor.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/beans/factory/annotation/ServicePackagesHolder.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/context/DubboInfraBeanRegisterPostProcessor.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/context/annotation/DubboComponentScanRegistrar.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/schema/DubboBeanDefinitionParser.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/util/DubboAnnotationUtils.java
  dubbo-config/dubbo-config-spring/src/main/java/org/apache/dubbo/config/spring/util/DubboBeanUtils.java
  dubbo-config/dubbo-config-spring/src/test/java/org/apache/dubbo/config/spring/JavaConfigBeanTest.java
  dubbo-config/dubbo-config-spring/src/test/java/org/apache/dubbo/config/spring/beans/factory/annotation/ServiceAnnotationPostProcessorTest.java
  dubbo-config/dubbo-config-spring/src/test/java/org/apache/dubbo/config/spring/extension/SpringExtensionFactoryTest.java
  dubbo-dependencies-bom/pom.xml
  dubbo-metadata/dubbo-metadata-api/src/main/java/org/apache/dubbo/metadata/rest/springmvc/AbstractRequestAnnotationParameterProcessor.java
  dubbo-spring-boot/dubbo-spring-boot-compatible/autoconfigure/src/main/java/org/apache/dubbo/spring/boot/autoconfigure/DubboAutoConfiguration.java
Labels: status/waiting-for-feedback

#6720 [Dubbo-6720] fix bug same interface unexport and export fail. also support hotload service
  dubbo-rpc/dubbo-rpc-api/src/main/java/org/apache/dubbo/rpc/protocol/AbstractProtocol.java
  dubbo-rpc/dubbo-rpc-api/src/main/java/org/apache/dubbo/rpc/protocol/AbstractProxyProtocol.java
  dubbo-rpc/dubbo-rpc-api/src/main/java/org/apache/dubbo/rpc/protocol/DelegateExporterMap.java
  dubbo-rpc/dubbo-rpc-dubbo/src/main/java/org/apache/dubbo/rpc/protocol/dubbo/DubboExporter.java
  dubbo-rpc/dubbo-rpc-dubbo/src/main/java/org/apache/dubbo/rpc/protocol/dubbo/DubboProtocol.java
  dubbo-rpc/dubbo-rpc-injvm/src/main/java/org/apache/dubbo/rpc/protocol/injvm/InjvmExporter.java
  dubbo-rpc/dubbo-rpc-injvm/src/main/java/org/apache/dubbo/rpc/protocol/injvm/InjvmInvoker.java
  dubbo-rpc/dubbo-rpc-injvm/src/main/java/org/apache/dubbo/rpc/protocol/injvm/InjvmProtocol.java
  dubbo-rpc/dubbo-rpc-injvm/src/test/java/org/apache/dubbo/rpc/protocol/injvm/InjvmProtocolTest.java
  dubbo-rpc/dubbo-rpc-thrift/src/main/java/org/apache/dubbo/rpc/protocol/thrift/ThriftProtocol.java
Labels: status/waiting-for-feedback
